<div>
  <img
    *ngFor="let url of urls"
    [src]="url"
    class="rounded mb-3"
    width="300"
    height="250"
  />
</div>
<form
  [formGroup]="multifile"
  class="file-uploader"
  enctype="multipart/form-data"
>
  <div class="file-uploader__message-area">
    <p>Select a file to upload</p>
  </div>
  <div class="file-chooser">
    <input
      class="file-chooser__input"
      multiple
      type="file"
      name="mutiImage"
      #file
      (change)="onSubmit($event)"
    />
  </div>
  <input class="file-uploader__submit-button" type="submit" value="Upload" />
</form>
