<body>
   
    <main id="main-doc">
      <section id="My_Game">
        <header style="margin-left: 40%"><u> <b>About Us</b></u> </header>
      </section>
      <section class="main-section" id="Introduction_Section">
        <header>Introduction Section</header>
        <p>Welcome to SHARE APP, your number one source for all things Sharing File. We're dedicated to giving you the very best of [product], with a focus on [store characteristic 1], [store characteristic 2], [store characteristic 3].</p>
        
      </section><br>
      <section class="main-section" id="Narrative_Section">
        <header>Narrative Section</header>
        <p>Here is where you can go crazy writing. You can talk about a wide variety of concepts here, even though it was named "narrative". To give you some examples, you can elaborate the story behind your game. Flesh out what the intro might be and how the character comes into your adventure.</p>
        <p>No story line? No problem! You could also elaborate on how you came up with the game, talk a bit about yourself or even make a character sheet for your protagonist. You make the rules!</p>
        <p><strong>*Spoiler alert*</strong></p>
        <p>Remember to be careful on how detailed you write out your story. Some people prefer to write every detail to make sure the reader knows what they're getting into. Others prefer a brief synopsis that has just enough information to spark curiosity and hopefully have the reader play the game. See what works for you.</p>
      </section><br>
      <section class="main-section" id="Art_Section">
        <header>Art Section</header>
        <p>Here you can include sprite sheets, screen shots of a 3D model, concept art, scenery, brainstorming doodles and more! You can elaborate on why you went with the art style you picked and if it has any meaning to the game itself. Of course, there usually is a reason so go crazy! You don't have to be a full fledged professional artist to say "I picked it because I liked it!". Feel free to also elaborate on the programs you used, any difficulties you encountered and even trashed concepts! It's always fun to go behind the scenes.</p>
        <li><img src="img_chania.jpg" alt="Flowers in Chania"></li>
        <li> <img src="img_girl.jpg" alt="Girl in a jacket"> </li>
        <li>
  <img src="url" alt="A URL sourced image"></li>
      </section><br>
      <section class="main-section" id="Mechanics_Section">
        <header>Mechanics Section</header>
        <p>Here's where the techy part comes in. You will have space to talk about your mechanics and how they work. Feel free to include snippets in places like</p>
        <code>here</code><br>
        <code>and here</code><br>
        <p>However, not every game uses regular code. Other, like Unreal Engine, have the concept of Blueprints where, instead of code, the user "connects boxes" to create events that drive the game. It would be very difficult tp show that in a code box so you might want to include a picture and some psudocode to explain what's going on. If you'd rather show off your code in action, you can screen shot it and elaborate what exactly you did to make that mechanic work. Feel free to replace the image boxes with videos if that strikes your fancy!</p>
        <img src="img_code.jpg" alt="Snippet of my code in-engine"><br>
        <code>Pseudo code that explains what I did and how it would work</code><br>
        <img src="img_code.jpg" alt="Snippet of my code in action"><br>
        <code>This explanation can have pseudo code or just a regular explanation. Always strive to keep your reader from flailing in the dark!</code>
      </section><br>
      <section class="main-section" id="Future_Plans_Section">
        <header>Future Plans Section</header>
        <p>Last but not least! Here you can talk about the current status of the game!</p>
        <li>Is it Beta?</li>
        <li>Is it published?</li>
        <li>Is it still on the drawing board?</li>
        <p>Then you can elaborate on what you'll be working on now, maybe give an estimated time and what your current goals are!</p>
        <li>Where would you like to publish, if at all?</li>
        <li>What would you like to implement?</li>
        <li>What goals and deadlines do you have?</li>
        <p>The sky's the limit. If you feel like you need more sections, text space/types, or you want to alter this to your liking, go ahead! Godd luck!</p>
      </section>
    </main>
  </body>